doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title ¿Has olvidad la contraseña?
    link(rel="shortcut icon" href="/favicon.ico?v=2")
    link(href='views/css/materialize.min.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='views/css/custom.css', rel='stylesheet')
  body
    .row
        .col.s12.m6.offset-m3.hcenter
            .card.grey.darken-1
                .card-content.white
                    span.card-title Introduzca su nueva contraseña
                    .row
                        form.col.s12(action='/reset', method='POST')
                            .row
                                br
                                input(name='user' type='hidden', value='#{user}')
                                .input-field.col.s12
                                    input#password.validate(name='password' type='password', required='')
                                    label(for='password', data-error='La contraseña no puede ser vacía', ) Contraseña
                                br
                                .input-field.col.s12
                                    input#confirmPassword.validate(name='confirmPassword' type='password', required='')
                                    label(for='confirmPassword', data-error='La contraseña no puede ser vacía', ) Repita la contraseña
                                    span.validation !{errorMessage}
                            button.btn.waves-effect.waves-light(type='submit', name='action', style='background-color:#3F51B5')
                                | Submit
                                i.material-icons.right send
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='views/js/materialize.min.js')
