<div class="alerts">
    <md-card>
    <p>Puedes activar un sistema de notificaciones que te avisará cada vez que no estés durmiendo adecuadamente durante 3 días consecutivos, lo que resulta de gran ayuda para controlar tu sueño sin necesidad
    de acceder a la aplicación, y lo mejor de todo ¡Tendrás un mayor control de tu sueño! El sistema de alertas te enviará un correo a la cuenta de correo que tengas configurada cada vez que se produzca
    una nueva alerta.
    </p>
    <br/>
    <md-slide-toggle [color]="purple" [checked]="isChecked" (change)="changeAlerts($event)">
        Activar notificaciones
    </md-slide-toggle>
    </md-card>
<div>