<br/>
<p><b>- Connect To Google Fit:</b></p>
<br/>
<a href="https://accounts.google.com/o/oauth2/auth?redirect_uri=http://localhost:3000/getAuthToGoogleFit&response_type=code&client_id=930495267346-vm7uumk0hjfmvb8rd3pre2tf5qn177m3.apps.googleusercontent.com&scope=https://www.googleapis.com/auth/fitness.activity.read+https://www.googleapis.com/auth/userinfo.email&approval_prompt=force&access_type=offline"><img md-raised-button class="GoogleButton" src="app/images/btn_google_fit.png" alt="Sig In Google"></a>
<br/>
<p><b>- Connect To Fitbit:</b></p>
<br/>
<a href="https://www.fitbit.com/oauth2/authorize?response_type=token&client_id=22873X&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2FgetAuthToFitbit&scope=profile%20sleep&expires_in=604800">
<img md-raised-button class="FitbitButton" src="app/images/btn_fitbit.png" alt="Sig In Google"></a>