h1 {
    font-size: 3em;
    color: #999;
    margin-bottom: 0;
    display: inline-block;
    position: absolute;
    margin-top: 0%;
    margin-left: 0.2%;
}

h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
}

nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}

nav a:visited, nav a:link {
    color: #607D8B;
}

nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}

nav a.active {
    color: #039be5;
}

.menu-button{
    color: white;
    background-color: #673AB7;
    float: right;
    margin: 0.7%;
}

.menu-button:hover{
    color: white;
    background-color: #673AB7;
    float: right;
    -webkit-filter: brightness(110%);
    filter: bightness(110%);
}

.logo{
    width: 25%;
}

.headerTitle{
    font-size: 659%;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    width: 22%;
    height: 50%;
    color: rgb(182, 182, 182);
    top: 1%;
    position: absolute;
}