<a class="logout-button" md-raised-button href="/logout">LogOut</a>
<button class="logout-button" md-icon-button [md-menu-trigger-for]="menu">
  <md-icon>person</md-icon>
</button>
<md-menu #menu="mdMenu" x-position="before">
    <button md-menu-item>
    <md-icon>cloud_queue</md-icon>
    <a class="mdMenuItem" routerLink="/apis">APIs</a>
  </button>
    <button md-menu-item>
    <md-icon>exit_to_app</md-icon>
    <a class="mdMenuItem" routerLink="/logout">LogOut</a>
  </button>
</md-menu>
<nav>
    <a routerLink="/calendar" routerLinkActive="active">Calendar</a>
    <a href="app/graphTest.html">Graph Test</a>
    <a routerLink="/apis" routerLinkActive="active">APIs</a>
    <button md-raised-button color="primary">Angular-Material</button>
</nav>
<router-outlet></router-outlet>