<div class="container">
      <div class="row text-center">
        <div class="btn-first-group">
           <div class="btn-group">
             <div class="purple-button" md-raised-button style="background-color:#673AB7; color: white;" (click)="decrement()">
               Anterior
             </div>
             <div class="purple-button" md-raised-button style="background-color:#673AB7; color: white;" (click)="today()">
               Actual
             </div>
             <div class="purple-button" md-raised-button style="background-color:#673AB7; color: white;" (click)="increment()">
               Siguiente
             </div>
           </div>
        </div>
        <div class="title">
          <h2>{{ viewDate | calendarDate:(view + 'ViewTitle'):'es' | capitalize}}</h2>
        </div>
      </div>
      <br>
      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="'month'"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="'week'"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="'day'"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>
      </div>
    </div>