<div>
    <br />
    <br />
    <p *ngIf="sendResponse">
        Data sent successfully.
    </p>
    <br />
    <button (click)="getUserData()">Get User Data</button>
    <br />
    <br />
    <div *ngIf="response">
        <table>
            <tr>
                <th>Hour</th>
                <th>Movements</th>
            </tr>
            <tr *ngFor="let resp of response" class="search-result">
                <td>{{resp.Hour}}</td>
                <td>{{resp.Movements}}</td>
            </tr>
        </table>
        <div>
        </div>