<h1> Configuración de Morpheuz </h1>

<md-card>
    <md-card-title>1. Abrir menú de configuración</md-card-title>
    <p>El primer paso consiste en abrir el menú de configuración de Morpheuz en la aplicación de Pebble. Para ello:
        <ul>
            <li> - Abriremos la aplicación en nuestro dispositivo. </li>
            <li> - Iremos a la pestaña llamada "App". </li>
            <li> - Buscaremos la aplicación "Morpheuz" y la seleccionaremos.</li>
            <li> - Tras seguir estos pasos estaremos ante la pantalla que se muestra a continuación, en la que deberemos de seleccionar
                "Ajustes".
            </li>
        </ul>
        <p>
</md-card>
<img src="app/images/morpheuz_step_1.png" alt="Step 1">
<md-card>
    <md-card-title>2. Introducir el correo</md-card-title>
    <p>El siguiente paso consistirá en introducir el correo necesario para que DreamStill pueda obtener los datos de sueño.
        Para ello:
        <ul>
            <li> - Nos dirigiremos a la parte inferior de la página de configuración. </li>
            <li> - Seleccionaremos el menú E-Mail - CSV Data & Chart el cual nos permite enviar un CSV con el registro de nuestro
                sueño a un e-mail. </li>
            <li> - Introduciremos la siguiente dirección de correo tal y como se muestra a continuación.</li>
        </ul>
        <p>
            <md-card class="morpheuz-email">dreamstillapp%252b{{morpheuzID}}@gmail.com</md-card>
</md-card>
<img src="app/images/morpheuz_step_2.png" alt="Step 2">
<md-card>
    <md-card-title>3. Exportar datos automáticamente (OPCIONAL pero RECOMENDABLE)</md-card-title>
    <p>El siguiente paso como se indica en el título es opcional pero muy recomendable, lo que nos permitirá es indicar a Morpheuz
        que nos envíe a DreamStill la información automáticamente y no tener que pulsar el botón "export" del apartado anterior
        cada vez que nos despertemos. Para ello:
        <ul>
            <li> - Iremos a la opción inferior a la anterior llamada "Automatic E-Mail - CSV Data & Chart. </li>
            <li> - Seleccionaremos la opción Automatic. </li>
        </ul>
        <p>
</md-card>
<img src="app/images/morpheuz_step_3.png" alt="Step 3">
<md-card>
    <md-card-title>4. ¡Listo!</md-card-title>
    <p>¡Ya tendríamos nuestra aplicación de Morpheuz conectada a DreamStill! Ahora sólo nos queda pulsar sobre el bóton de "Save".
        ¡Dulces Sueños!
        <p>
</md-card>
<img src="app/images/morpheuz_step_4.png" alt="Step 4">