table {
    border: 1px solid gray;
    width: 195px;
    height: 20px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    text-align: center;
    border-collapse: collapse;
}

tr,
th,
td {
    border: 1px solid gray;
}

th {
    background-color: lightgrey;
}